---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Ministerios - UCB Cristo al Mundo">
  <Header />

  <main class="snap-y snap-mandatory h-screen overflow-y-scroll">
    <section
      id="inicio"
      class="snap-start min-h-screen relative flex items-center justify-center pt-16"
    >

      <!-- WIP Page -->
      <div class="flex flex-col items-center justify-center">
        <h1 class="text-4xl font-bold">Ministerios</h1>
        <p class="text-lg">Próximamente...</p>
      </div>
    </section>
    <Footer />
  </main>

  <style>
    /* Hide scrollbar for the vertical snap container but keep functionality */
    main::-webkit-scrollbar {
      width: 8px;
    }
    main::-webkit-scrollbar-track {
      background: transparent;
    }
    main::-webkit-scrollbar-thumb {
      background-color: rgba(156, 163, 175, 0.5);
      border-radius: 20px;
    }
  </style>
</Layout>
